# Kopiere diese Datei zu ".env" und trage deine echten Werte ein.
# Die .env-Datei darf NIE in Git committed werden!

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=https://spvgg1879-lauftreff.de/training/strava_callback.php

APP_URL=https://spvgg1879-lauftreff.de/training
